<body ng-controller='AddItemController'>
  <h1>What have you lost?</h1>
  <div class='container'>
    <form class="newItem" type='submit'>
      <div class='name'>If you could describe your item with one word, what would it be? (i.e. dog)</div>
      <input class="name" ng-model='name'/><br>
      <div class='description'>Describe the item you lost</div>
      <input class="description" ng-model='description'/><br>
      <div class='reward'>How much money are you offering for a reward?</div>
      <input class='reward' ng-model='reward'/><br>
      <div class='location'>Where did you last see it?</div>
      <input class='location' ng-model='location'/><br>
      <div class='contact'>How can you be contacted?</div>
      <input class='contact' ng-model='contact'/><br>
      <button ng-click='postData()'>Click here to submit your lost item</button><br><br><br>
      <a href="../../index.html">Go back to main page</a>
    </form>
  </div>
</body>
