html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  background: linear-gradient(teal, cyan);
  background-repeat: no-repeat;
  overflow: auto;
}

h1 {
  text-align: center;
  color: black;
}

button {
  float: center;
}

.container {
  position: relative;
  height: 90%;
  border-radius: 25px;
  background: linear-gradient(white, lightgrey);
  overflow: auto;
}

#map {
  position: absolute;
  height: 72%;
  width: 40%;
  left: 50%;
  top: 21%;
  overflow: auto;
}

#item {
  /*margin: 5px;*/
  border: 1px black;
  position: relative;
}

/*



.searchItems {
  width: 30%;
  height: 20px;
  margin: 10px;
  position: relative;
  left: 34%;
}

.lostItemTable {
  border: 1px black;
  border-radius: 10px;
  position: absolute;
  margin-top: 10%;
  left: 10%;
  height: 70%;
  width: 30%;
  overflow: auto;
}


#item:hover {
  text-decoration-color: green;
}

.addItem {
  margin-top: 20px;
  position: relative; 
  left: 37.5%;
}

.items {
  float: center;
  top: 500px;
  overflow: auto;
}

.name {
  margin: 10px;
  font-size: 20px;
}

.reward {
  margin: 10px;
  font-size: 20px;
}

.description {
  margin: 10px;
  font-size: 20px;
}

.location {
  margin: 10px;
  font-size: 20px;
}

.lostAddButton {
  margin: 10px;
  margin-bottom: 20px;
}

.itemName {
  font-size: 18px;
}

.itemDescription {
  font-size: 18px;
}

.itemReward {
  font-size: 18px;
}

.itemLocation {
  font-size: 18px;
}

.info {
  border: 1px black;
}


*/