html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(teal, cyan);
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: black;
}

.container {
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 25px;
  left: 5%;
  background: linear-gradient(white, lightgrey);

}

.searchItems {
  width: 30%;
  height: 20px;
  margin: 10px;
  border-radius: 25px;
  position: relative;
  left: 34%;
}

.lostItems {
  float: center;
}

.addItem {
  float: right;
}

.items {
  float: center;
  top: 500px;
  overflow: auto;
}

.name {
  margin: 10px;
  font-size: 20px;
}

.reward {
  margin: 10px;
  font-size: 20px;
}

.description {
  margin: 10px;
  font-size: 20px;
}







